html,
body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}
html {
    font-size: 130%;
}

#wasm-progress-container {
    width: 8rem;
}

.progress-border {
    border: 1px solid #ccc;
}

#wasm-progress-bar {
    width: 0%;
    height: 1rem;
    background-color: #00ff00;
    transition: width;
}

textarea {
    width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

#custom-patches, #run-patch {
    margin-top: 1rem;   
}
textarea#custom-patches {
    display: none;
}
pre, textarea {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}
