html,
body {
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}
html {
    font-size: 130%;
}
.no-top {
    padding-top:0;
    margin-top:0;
}
.no-bottom {
    padding-bottom:0;
    margin-bottom:0;
}

.title-width {
    display: inline-block;
}

#wasm-progress-container {
    padding-top:1rem;
    display: inline-block;
}

.progress-border {
    border: 1px solid #ccc;
}

#wasm-progress-bar {
    height: 1rem;
    background-color: #00ff00;
    transition: width;
}
#about {
  display: none;
}
#toggleAbout:checked + #about {
  display: block;
}

textarea {
    width: 100%;
}
a, .link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: white;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

#custom-patches, #run-patch {
    margin-top: 1rem;   
}
textarea#custom-patches {
    display: none;
}
pre, textarea {
    white-space: pre-wrap;
    word-break: break-word;
    word-wrap: break-word;
}
